// src/App.scss

// Colours
$header-text: #304529;
$body-text: #1e1e1e;
$label-text: #d9d9d9;

$primary-color: #4a6741;
$secondary-color: #304529;
$header-background: #d9d9d9;

// Font Sizes
$label-font-size: 25px;
$header-font-size: 60px;

// Misc.
$standard-roundness: 8px;

@mixin label-styles {
  font-size: $label-font-size;
  color: $label-text;
  font-weight: bold;
  font-style: italic;
}

@mixin button-styles {
  background-color: $secondary-color;
  padding: 5px 80px;
  border-radius: $standard-roundness;
  border: none;
  cursor: pointer;
}

@mixin body-styles {
  background-color: $primary-color;
  border-radius: $standard-roundness;
  padding: 34px 225px;
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
}

// global styles

a {
  text-decoration: underline;
  cursor: pointer;
}

button {
  @include button-styles();
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-background;

  .header-menu-left .menu-logo {
    height: 40px;
    width: auto;
  }

  .header-menu-right .menu-links {
    list-style-type: none;
    display: flex;
    li {
      margin-right: 1rem;
    }
  
    a {
      color: $secondary-color;
      text-decoration: underline;
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  label {
    margin-bottom: 8px;
    @include label-styles();
  }

  input {
    padding: 13px 7px;
    border-radius: $standard-roundness;
    border: none;

    &::placeholder {
      @include label-styles();
    }
  }
}

.page-header {
  background-color: white;
  h1 {
    font-size: $header-font-size;
    color: $header-text;
    padding: 26px 39px 52px;
    font-style: italic;
    margin: 0;
  }
}

.toggle-block {
  &-container {
    background-color: $primary-color;
    border-radius: $standard-roundness;
    margin: 11px;
    cursor: pointer;
    overflow: hidden;
  }

  &-label {
    background-color: $primary-color;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  &-content {
    color: $secondary-color;
    background-color: white;
    padding: 8px;
    border: 2px solid $primary-color;
  }

  &.active
    .toggle-block-content {
    // only show the content of the block when its active
    display: block;
  }
}

// page styles
.account-registration {
  &-container {
    display: flex;
    margin: 10% auto;
  }
  &-body {
    @include body-styles();
  }
}

.terms-conditions {
  &-container {
    display: flex;
    margin: 10% auto;
  }
  &-body {
    @include body-styles();
    padding: 34px 10px;
    flex-direction: column;
  }
  .terms-text {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align:center;
  }

}

.login {
  &-productLogo {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  &-companyLogo {
    position: relative;
    z-index: -10;
  }

  &-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-body {
    background-color: $primary-color;
    border-radius: $standard-roundness;
    padding: 34px 225px;
    max-width: 1150px;
    margin: 0 auto;
  }

  .forgot-password-link {
    p {
      @include label-styles();
      text-align: center;
    }
  }

  h1 {
    font-size: 115px;
    color: $header-text;
    margin: 0;
    text-align: center;
  }
  h2 {
    color: $header-text;
    font-size: 25px;
    text-align: center;
  }
}

.plan-trip {
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-body {
    @include body-styles();
  }

  .two-col-inputs {
    display: flex;
    justify-content: space-between;
    .input-box {
      width: 48%;
    }
  }
}

.trip-summary {
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-body {
    @include body-styles();
  }

  .two-col-inputs {
    display: flex;
    justify-content: space-between;
    .input-box {
      width: 48%;
    }
  }
}

.account-registration {
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-body {
    @include body-styles();
  }

  .two-col-inputs {
    display: flex;
    justify-content: space-between;
    .input-box {
      width: 48%;
    }
  }
}

.edit-account {
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-body {
    @include body-styles();
  }

  .two-col-inputs {
    display: flex;
    justify-content: space-between;
    .input-box {
      width: 48%;
    }
  }
}

.trip-progress {
  &-summary {
    font-size: 30px;
    padding: 0px 39px 22px;
    background-color: white;

    p {
      margin: 0 0 2px;
      color: $body-text;
    }
  }

  &-footer {
    padding: 15px 39px;
    display: flex;
    justify-content: space-between;
    background-color: $header-background;
    align-items: center;

    input {
      padding: 10px 5px;
      width: 700px;
      border-radius: $standard-roundness;
      border: none;
    }

    label {
      font-size: 25px;
      color: $body-text;
      font-weight: bold;
      margin-right: 10px;
    }
  }
}

.hiker-dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 100px 0px;
}

.trip-card {
  max-width: 485px;
  background-color: $primary-color;
  border-radius: $standard-roundness;
  text-align: center;
  padding: 146px 98px;
  width: 100%;

  &-container {
    display: flex;
    justify-content: center;
  }

  .trip-name {
    font-size: 40px;
    font-weight: bold;
    margin: 0px 0px 2px;
  }
  .trip-date {
    font-size: 18px;
    margin: 0px 0px 10px;
  }
  p {
    color: white;
    font-style: italic;
  }
}
