// src/App.scss
// Colours
$header-text: #304529;
$body-text: #1e1e1e;
$label-text: #d9d9d9;

$primary-color: #4a6741;
$secondary-color: #304529;
$header-background: #d9d9d9;

// Font Sizes
$label-font-size: 25px;
$page-header-font-size: 60px;
$mobile-page-header-font-size: 40px;
$default-font-size: 20px;

// Misc.
$standard-roundness: 8px;
$standard-container-margin: 2% auto;

// Screens
$mobile-screen: 480px;
$tablet-screen: 620px;

@mixin label-styles {
  font-size: $label-font-size;
  color: $label-text;
  font-weight: bold;
  font-style: italic;
  @media (max-width: $tablet-screen) {
    font-size: 12px;
  }
}

@mixin button-styles {
  background-color: $secondary-color;
  padding: 5px 60px;
  border-radius: $standard-roundness;
  border: none;
  cursor: pointer;
  img {
    max-width: 35px;
  }

  @media (max-width: $tablet-screen) {
    padding: 5px 10px;
    font-size: 12px;
    p {
      font-size: 12px;
    }
    img {
      max-width: 20px;
    }
  }
}

@mixin body-styles {
  background-color: $primary-color;
  border-radius: $standard-roundness;
  padding: 15px 35px;
  max-width: 1150px;
  margin: 0 auto;
  // width: 100%;
  @media (max-width: $tablet-screen) {
    padding: 15px 20px;
  }
}

@mixin text-body-styles {
  color: white;
  text-decoration: none;
  text-align: center;
}

@mixin form-container-styles {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@mixin underlined-link-styles {
  color: $secondary-color;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
  margin: 0px;
}

@mixin product-logo-styles {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 1150px;
  margin: 2% auto;
}

@mixin page-styles {
  @media (max-width: $tablet-screen) {
    max-width: 90%;
    margin: 35px auto;
  }
}

// global styles

.blur {
  opacity: 50%;
  filter: blur(4px);
  transition: 0.1s;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

button {
  cursor: pointer;
  &.inactive {
    background-color: gray !important;
    cursor: default !important;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    @include button-styles();
    gap: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;

    &.inactive {
      background-color: gray;
    }

    &:active {
      background-color: green;
    }

    p {
      @include label-styles();
      font-size: $label-font-size - 4;
      color: white;
      margin: 0;
      vertical-align: middle;
    }
  }
}

input,
select,
label {
  cursor: pointer;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-background;

  .overlay {
    backdrop-filter: blur(8px);
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
  }

  .mobile-menu {
    position: absolute;
    width: -webkit-fill-available;
    top: 0;
    right: 0;
    padding: 10px 15px;
    background-color: $header-background;
    z-index: 2;

    .button {
      padding: 5px;
      gap: 0px;
      &-container {
        justify-content: flex-end;
      }
    }
  }

  .mobile-menu-toggle {
    display: none;
    @media (max-width: $mobile-screen) {
      display: block;
    }
    img {
      width: 32px;
      height: 32px;
      margin-right: 20px;
    }
  }

  &-left {
    .desktop-menu-logo {
      display: block;
      @media (max-width: $mobile-screen) {
        display: none;
      }
    }
    .mobile-menu-logo {
      display: none;
      width: 30px;
      position: relative;
      z-index: 4;
      @media (max-width: $mobile-screen) {
        display: block;
      }
    }

    .menu-logo {
      // height: 50px;
      width: auto;
      cursor: pointer;
      background-color: $header-background;
      border: $header-background;
    }
  }

  &-right {
    .menu-links {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 5px;

      @media (max-width: $mobile-screen) {
        flex-direction: column;
        z-index: 2;
        p {
          margin: 0 0 10px;
        }
      }

      .underlined-link {
        @include underlined-link-styles();
        background-color: $header-background;
        border: $header-background;
        font-size: $default-font-size;
      }

      .account-control-link {
        background-color: #4a6741;
        border-radius: $standard-roundness;
        padding: 5px 5px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 30px;
        transition: background-color 0.3s ease;

        &:active {
          background-color: green;
        }

        // center the link in the box
        li {
          margin-right: 0;
        }

        a {
          color: white;
          text-decoration: underline;
          cursor: pointer;
          font-weight: bold;
          font-size: $default-font-size;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  label {
    margin-bottom: 8px;
    @include label-styles();
  }

  input,
  select,
  textarea {
    padding: 13px 7px;
    border-radius: $standard-roundness;
    border: none;
    font-size: $default-font-size;
    @media (max-width: $tablet-screen) {
      font-size: 12px;
    }

    &::placeholder {
      @include label-styles();
    }
  }

  &.password {
    position: relative;
  }

  &.help {
    position: relative;
  }

  .visibility-icon,
  .help-icon {
    max-width: 35px;
    position: absolute;
    right: 0;
    top: 43px;
    padding-right: 8px;
    cursor: pointer;
    @media (max-width: $tablet-screen) {
      max-width: 30px;
      top: 28px;
    }
  }
}

.page-header {
  background-color: white;
  margin-bottom: 8px;
  h1 {
    font-size: $page-header-font-size;
    color: $header-text;
    margin: 26px 39px 0px;
    font-style: italic;
    @media (max-width: $tablet-screen) {
      font-size: $mobile-page-header-font-size;
      margin: 0 auto;
    }
  }
}

.toggle-block {
  &-container {
    background-color: $primary-color;
    border-radius: $standard-roundness;
    margin: 11px;
    cursor: pointer;
    overflow: hidden;
    @media (max-width: $tablet-screen) {
      margin: 11px 0px;
    }
  }

  &-label {
    background-color: $primary-color;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-style: italic;
  }

  &-content {
    color: $secondary-color;
    background-color: white;
    padding: 8px;
    font-size: $default-font-size;
  }

  &.active .toggle-block-content {
    // only show the content of the block when its active
    display: block;
  }
}

// page styles
.account-registration {
  @include page-styles();
  &-container {
    @include form-container-styles();
  }
  &-body {
    @include body-styles();
    flex-direction: column;
    width: 90%;
  }
}

.terms-conditions {
  @include page-styles();
  &-container {
    @include form-container-styles();
  }
  &-body {
    @include body-styles();
  }
  .terms-text {
    @include text-body-styles();
    font-size: $default-font-size;
    text-align: left;
  }
}

.tutorials {
  &-container {
    @include form-container-styles();
  }
  &-body {
    @include body-styles();
  }

  @include text-body-styles();
  font-size: $default-font-size;
  text-align: left;
}

.bug-report {
  &-container {
    @include form-container-styles();
  }
  &-body {
    @include body-styles();
  }
  &-text {
    @include text-body-styles();
    font-size: $default-font-size;
    text-align: left;
  }
  &-header {
    display: flex;
    align-items: center;
    p {
      @include text-body-styles();
      font-size: $default-font-size;
      text-align: left;
    }

    h2 {
      @include text-body-styles();
      text-align: left;
      font-size: 30px;
    }

    img {
      max-width: 40px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.login {
  max-width: 90%;
  margin: 35px auto;

  &-productLogo {
    @include product-logo-styles();
  }

  &-companyLogo {
    position: relative;
    z-index: -10;
  }

  &-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 500px) {
      flex-direction: column;
      h2 {
        margin: 0;
      }
    }
  }

  &-body {
    @include body-styles();
  }

  .forgot-password-link,
  .account-registration-link {
    p,
    a {
      @include label-styles();
      text-align: center;
    }
  }

  h2 {
    color: $header-text;
    font-size: 25px;
    text-align: center;
  }
}

.trip-plan {
  @include page-styles();
  &-container {
    @include form-container-styles();
  }

  &-body {
    @include body-styles();
    width: 90%;
    @media (max-width: $tablet-screen) {
      margin: unset;
    }
  }

  .two-col-inputs {
    display: flex;
    justify-content: space-between;
    .input-box {
      width: 48%;
    }
  }
}

.trip-summary {
  @include page-styles();
  &-container {
    @include form-container-styles();
  }

  &-body {
    @include body-styles();
    &.archived {
      background-color: #474f44;
    }

    .link-reminder {
      display: flex;
      align-items: center;
      padding-bottom: 8px;
      gap: 8px;

      p {
        color: white;
        font-size: $default-font-size;
        font-style: italic;
        font-weight: bold;
        @media (max-width: $tablet-screen) {
          font-size: 15px;
        }
      }

      img {
        max-width: 60px;
        @media (max-width: $tablet-screen) {
          max-width: 30px;
          align-self: flex-start;
          margin-top: 20px;
        }
      }
    }

    hr {
      height: 1px;
      color: white;
      background-color: white;
      border-radius: $standard-roundness;
    }
    .controls {
      display: flex;
      justify-content: right;
      padding-bottom: 8px;
      gap: 8px;

      @media (max-width: $tablet-screen) {
        justify-content: left;
      }

      &-edit {
        .button-container {
          justify-content: right;
        }
      }

      &-archive {
        button {
          gap: 8px;
          display: flex;
          align-items: center;
          border-radius: $standard-roundness;
          padding: 5px 60px;
          @media (max-width: $tablet-screen) {
            padding: 5px 10px;
            font-size: 12px;
            img {
              max-width: 20px !important;
            }
          }
          font-size: $default-font-size;
          font-weight: bold;
          background-color: $secondary-color;
          color: white;
          border: none;
          transition: background-color 0.3s ease;

          &:active {
            background-color: green;
          }

          img {
            max-width: 35px;
          }
        }
      }
    }
  }

  .two-col-inputs {
    display: flex;
    justify-content: space-between;
    .input-box {
      width: 48%;
    }
  }
}

.trip-edit {
  @include page-styles();
  &-container {
    @include form-container-styles();
  }

  &-body {
    @include body-styles();
    @media (max-width: $tablet-screen) {
      margin: unset;
    }

    .controls {
      display: flex;
      justify-content: right;
      padding-bottom: 8px;
      gap: 8px;
    }
  }

  .two-col-inputs {
    display: flex;
    justify-content: space-between;
    .input-box {
      width: 48%;
    }
  }
}

.edit-account {
  &-container {
    @include form-container-styles();
  }

  &-body {
    @include body-styles();
  }

  &-delete {
    display: flex;
    justify-content: right;
  }

  .two-col-inputs {
    display: flex;
    justify-content: space-between;
    .input-box {
      width: 48%;
    }
  }
}

.trip-progress {
  &-overview {
    font-size: 30px;
    padding: 22px 39px 22px;
    margin: 26px 39px 0px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet-screen) {
      margin: 0;
      flex-direction: column;
      font-size: 18px;
      padding: 12px;
    }
    p {
      margin: 0 0 2px;
      color: white;
    }
  }

  h2 {
    font-style: italic;
    color: $secondary-color;
    font-size: 25px;
    text-align: center;
    margin: 10px auto 40px;
  }

  &-mobile {
    border: 1px solid grey;
    .checkpoint {
      background-color: #b1b1b1;
      border-bottom: 1px solid gray;
      padding: 24px 28px;
    }
    .checkpoint-item {
      background-color: #b1b1b1;

      display: flex;
      align-items: center;
      position: relative;

      img {
        position: absolute;
        right: 5%;
      }

      .circle {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 20px solid $primary-color;
        cursor: pointer;

        &-label {
          font-weight: bold;
        }

        &-container {
          margin-right: 20px;
        }
      }
    }
  }

  .checkin-details {
    background-color: $primary-color;
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin: 0 39px;
    padding: 26px 0;
    .title {
      border-bottom: 1px solid white;
      padding: 20px 0;
    }
    .subtitle {
      font-size: 25px;
      font-style: normal;
      margin-bottom: 20px;
    }

    table {
      background-color: white;
      color: $secondary-color;
      font-weight: normal;
      font-style: normal;
      border-collapse: collapse;
      width: 94%;
      margin: 0 39px;
      th,
      td {
        text-align: center;
        border: 3px solid black;
        padding: 10px 20px;
      }
    }
  }

  &-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 39px 22px;
    padding: 0 27px;

    .circle {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: 20px solid $primary-color;
      cursor: pointer;

      &-label {
        position: absolute;
        top: -40px;
        white-space: nowrap;
        font-weight: bold;
      }

      &-container {
        position: relative;
        display: flex;
        justify-content: center;
      }
    }

    .triangle {
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 50px solid #4a6741;
      position: absolute;
      bottom: -48px;
      left: -21px;
      width: 0;
      height: 0;
    }

    .filled {
      background-color: $primary-color;
    }

    .empty {
      background-color: white;
    }

    .progress-line {
      height: 20px;
      background-color: $primary-color;
      position: absolute;
      width: 90%;
    }
  }

  &-footer {
    padding: 15px 39px;
    display: flex;
    justify-content: space-between;
    background-color: $header-background;
    align-items: center;

    @media (max-width: $tablet-screen) {
      flex-direction: column;
      margin-top: 100px;
    }

    input {
      padding: 10px 5px;
      width: 700px;
      border-radius: $standard-roundness;
      border: none;
      @media (max-width: $tablet-screen) {
        margin: 20px 0px;
      }
    }

    label {
      font-size: 25px;
      color: $body-text;
      font-weight: bold;
      margin: 0 10px 0 0;
      @media (max-width: $tablet-screen) {
        margin: 10px 0px;
      }
    }
  }
}

.hiker-dashboard {
  @include page-styles();
  &-divider {
    &-two-col {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 39px 0px;

      @media (max-width: $tablet-screen) {
        padding: 0;
      }

      h2 {
        font-size: $page-header-font-size - 20;
        color: $primary-color;
        font-style: italic;
        margin-top: 20px;
        margin-bottom: 20px;
        @media (max-width: $tablet-screen) {
          font-size: 24px;
        }
      }
    }

    .toggle {
      cursor: pointer;
    }

    hr {
      margin: -2px 39px -60px;
      color: $header-background;
      @media (max-width: $tablet-screen) {
        margin: 0;
      }
    }
  }

  .archived-plans {
    &-divider {
      &-container {
        padding: 0px 39px 0px;
      }
      border-bottom: 1px solid $primary-color;
    }
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 100px 39px;
    @media (max-width: $tablet-screen) {
      margin: 20px;
    }
  }
}

.trip-card {
  max-width: 485px;
  background-color: $primary-color;
  border-radius: $standard-roundness;
  text-align: center;
  padding: 146px 98px;
  width: 100%;
  @media (max-width: $tablet-screen) {
    padding: 50px;
  }
  &.archived {
    background-color: #474f44;
  }

  &-container {
    display: flex;
    justify-content: center;
  }

  .trip-name {
    font-size: 40px;
    font-weight: bold;
    margin: 0px 0px 2px;
  }
  .trip-date {
    font-size: 18px;
    margin: 0px 0px 10px;
  }
  p {
    color: white;
    font-style: italic;
  }
}

.home {
  &-logo {
    @include product-logo-styles();

    @media (max-width: $tablet-screen) {
      max-width: 80%;
      margin: 30px auto;
    }
  }

  @media (max-width: $tablet-screen) {
    max-width: 90%;
    margin: 0 auto;
  }

  &-container {
    @include form-container-styles();
  }
  &-body {
    @include body-styles();
    .system-diagram {
      border-radius: $standard-roundness;
      width: 100%;
      max-width: 1150px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .description {
      @include text-body-styles();
      font-size: $default-font-size;
    }

    h1 {
      @include text-body-styles();
    }
  }
}

.about-me {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: white;
  border-radius: $standard-roundness;

  @media (max-width: $tablet-screen) {
    flex-direction: column;
  }

  &-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 10px;
    border-radius: $standard-roundness;
  }

  &-body {
    display: flex;
    flex-direction: column;
    color: $secondary-color;
    text-align: left;
    margin: 8px;

    h2 {
      margin-bottom: -20px;
    }

    h3 {
      font-style: italic;
      margin-bottom: -5px;
    }

    p {
      font-size: $default-font-size;
    }
  }
}

.pop-up-underlay {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 1;

  .pop-up-box {
    border-radius: 20px;
    border: 3px solid $primary-color;
    max-width: 600px;
    padding: 45px 35px;
    background-color: $primary-color;
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 40%;

    h1,
    p {
      margin: 0px 0px 18px;
      color: white;
      text-align: center;
    }
  }

  .pop-up-options {
    display: flex;
    justify-content: center;
    gap: 30px;

    p {
      margin: 0px 0px 0px;
    }
  }
}

.input-error-message {
  background-color: #d97228;
  border-radius: $standard-roundness;
  max-height: 80;
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  p {
    color: white;
    font-weight: bold;
  }

  img {
    max-width: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.back-to-dashboard-container {
  display: flex;

  .back-to-dashboard {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    border: #d9d9d9;
    margin: 8px 33px 0px;
    @media (max-width: $tablet-screen) {
      margin: 0;
    }

    img {
      max-width: 20px;
    }

    p {
      @include underlined-link-styles();
    }
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    @include text-body-styles();
    font-size: $default-font-size;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }

  input {
    transform: scale(1.25);
  }
}

// Styled with reference to: https://dev.to/cathleys/how-to-create-a-loading-spinner-in-react-with-styled-components-4p2g
.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-spinner {
    border: 5px solid $header-background;
    border-top: 5px solid green;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}

.faqs,
.bug-report,
.trip-progress {
  @include page-styles();
}

.desktop-links {
  @media (max-width: $tablet-screen) {
    display: none;
  }
}

.know-before {
  &-container {
    @include form-container-styles();
  }
  &-body {
    @include body-styles();

    .know-before-reminders {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 8px;
      gap: 10px;

      img {
        max-width: 80px;
        @media (max-width: $tablet-screen) {
          max-width: 30px;
          align-self: flex-start;
          margin-top: 20px;
        }
      }
    }
  }

  @include text-body-styles();
  font-size: $default-font-size;
  text-align: left;
}

.input-info-message {
  background-color: $secondary-color;
  border-radius: $standard-roundness;
  max-height: 80;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;

  p {
    color: white;
    font-weight: bold;
  }

  img {
    max-width: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
